// COLORS
$color-black: #333;
$color-white: #fff;

// FONT
$default-font-size: 1.6rem;
$pickup-read-more: 1.3rem;
$article-text-font-size: 1.5rem;

// GRID
$content-padding: 1.6rem;
$grid-width: 120rem;
$gutter-vertical: 8rem;
$gutter-horizontal-big: 6rem;
$gutter-horizontal-medium: 3rem;
$gutter-horizontal-small: 1.5rem;
