.row {
  max-width: $grid-width;
  padding: 0 $content-padding;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }
  @include clearfix;
  [class^="col-"] {
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horizontal-medium;
    }
  }
  &--2 {
    [class^="col-"] {
      &:not(:last-child) {
        margin-right: $gutter-horizontal-big;
      }
    }
  }
  .col-1-of-2 {
    // width: calc((100% - #{$gutter-horizontal-big}) / 2);
    &--left {
      width: calc(70% - #{$gutter-horizontal-big} / 2);
      display: flex;
      flex-direction: column;
    }
    &--right {
      width: calc(30% - #{$gutter-horizontal-big} / 2);
    }
  }
  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal-medium}) / 3);
  }
}
