.article {
  &-tag {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    time {
      margin-right: 1rem;
    }
  }
  &-img {
    width: 100%;
  }
  &-text {
    font-size: $article-text-font-size;
    margin: 10px 0 20px;
    padding: 0 40px;
  }
}
