.top-article-box {
  img {
    width: 100%;
  }

  .pickup-title {
    font-size: $default-font-size;
  }
}
.read-more {
  font-size: $pickup-read-more;
  text-align: center;
  a {
    transition: all 0.3s;
    &:link,
    &:visited {
      border-bottom: solid 1px $color-black;
    }
    &:hover,
    &:active {
      padding-bottom: 2px;
      border-bottom: solid 1px $color-white;
    }
  }
}
/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 770px) {
  .section-pickup {
    .row {
      .col-1-of-3 {
        width: 100%;
        .top-article-box {
          margin-bottom: 4.4em;
        }
      }
    }
  }
}
